---
import Base from "../../layouts/Base.astro";
import CardGrid from "../../layouts/CardGrid.astro";

import { getCollection } from "astro:content";

const blogColl = await getCollection("blog");
blogColl.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const posts = blogColl.map(({ slug, data: { title, heroImage, pubDate } }) => {
    return { title, url: `/blog/${slug}`, image: heroImage, date: pubDate };
});
---

<Base title="Denny's Blog" description="Welcome to my blog!">
    <main>
        <CardGrid items={posts} />
    </main>
</Base>
