---
import Base from "../../layouts/Base.astro";
import CardGrid from "../../layouts/CardGrid.astro";

import { getCollection } from "astro:content";

const blog = await getCollection("blog", (blog) => !blog.data.hidden);
blog.sort(
  (a, b) =>
    (b.data.pubDate ?? new Date(0)).valueOf() -
    (a.data.pubDate ?? new Date(0)).valueOf(),
);

const blogs = blog.map(({ data, id }) => ({
  title: data.title,
  url: `/blog/${id}`,
  image: data.heroImage,
  date: data.pubDate,
  tags: data.tags,
}));
---

<Base title="Denny's Blog" description="Welcome to my blog!">
  <main>
    <CardGrid items={blogs} />
  </main>
</Base>
