@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
    --clr-accent-200: hsl(278 35% 90%);
    --clr-accent-700: hsl(278 35% 62%);

    --clr-neutral-100: hsl(36 42% 95%);
}

body {
    @apply text-black;
    overscroll-behavior: none;
}
