---
import Base from "../../../../layouts/Base.astro";
import CardGrid from "../../../../layouts/CardGrid.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const projects = await getCollection("projects", ({ data }) =>
    data.items.some((item) => "group" in item),
  );
  const posts = await getCollection("projectPosts");
  return projects
    .flatMap(({ data, id }) => data.items.map((item) => ({ ...item, id })))
    .filter((data) => "group" in data)
    .map((data) => {
      const cards = posts
        .filter(({ id }) => id.includes(data.group))
        .map((post) => ({
          title: post.data.title,
          url: `/projects/${post.id}`,
          image: post.data.image,
        }));
      return {
        params: { id: data.id, group: data.group },
        props: { ...data, cards },
      };
    });
};

const props = Astro.props;
---

<Base title={props.title}>
  <main>
    <CardGrid items={props.cards} />
  </main>
</Base>
