---
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
---

<html lang="es">
    <Head title="About Me" description="Sobre mi" />
    <Header />
    <main>
        <Container class="prose prose-xl" usePy={false}>
            <h1 class="text-center text-4xl pt-3">Sobre mi</h1>
            <p class="text-center sm:text-justify">
                Soy Denny Pérez, Analista de Control de Calidad de Software,
                originaria de la República Dominicana y actualmente radicada en
                Canadá. Cuento con una Licenciatura en Contabilidad con más de
                10 años de experiencia profesional en esta area. Mi carrera tomó
                un nuevo rumbo cuando migré a Canadá en 2015, donde decidí
                estudiar otra carrera profesional enfocada en el mundo de la
                tecnología. Allí descubrí mi pasión por el lenguaje de
                programación Python y la colaboración en comunidades
                tecnológicas. Desde entonces, he estado involucrada en diversas
                comunidades tecnológicas, tanto en Latinoamérica como a nivel
                global. He asumido roles clave en la gestión de proyectos,
                marketing, organización de eventos y participación comunitaria,
                con un compromiso firme de promover la diversidad, equidad e
                inclusión en la industria tecnológica. Mi objetivo es crear
                entornos donde todas las personas puedan prosperar,
                contribuyendo activamente en comunidades como la de Python y
                fomentando la colaboración y el crecimiento colectivo. Además de
                mi trayectoria profesional, soy madre de tres maravillosos hijos
                que me inspiran a seguir impulsando espacios más inclusivos y
                colaborativos en el ámbito tecnológico.
            </p>
        </Container>
    </main>
    <Footer />
</html>
