---
import { cx } from "../utils.ts";

import Container from "./Container.astro";
import { type CollectionEntry, render } from "astro:content";

import "@fontsource/montserrat/900.css";

type Props = {
  project: CollectionEntry<"projects">;
  summarize?: boolean;
};

const { project, summarize } = Astro.props;
const { Content } = await render(project);
---

<Container class="max-w-(--breakpoint-xl)" usePy={false}>
  <div
    class={cx([
      // TODO: the elipsis created by `line-clamp` should have an `<a>` tag.
      "prose md:prose-xl md:max-w-full",
      summarize && "prose-p:line-clamp-3",
    ])}
  >
    <Content />
  </div>
</Container>
