---
import { cx } from "../utils.ts";

import Container from "./Container.astro";
import type { CollectionEntry } from "astro:content";

import "@fontsource/montserrat/900.css";

type Props = {
    project: CollectionEntry<"projects">;
    summarize?: boolean;
};

const { project, summarize } = Astro.props;
const { Content } = await project.render();
---

<Container class="max-w-screen-xl" usePy={false}>
    <div
        class={cx([
            "prose md:prose-xl md:max-w-full",
            summarize && "prose-p:line-clamp-3",
        ])}
    >
        <Content />
    </div>
</Container>
