---
import PostLayout from "../../../../layouts/Post.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () =>
    (await getCollection("projectPosts")).map((post_) => {
        const [slug, group, post] = post_.slug.split("/");
        return {
            params: { slug, group, post },
            props: post_,
        };
    });
type Props = CollectionEntry<"projectPosts">;

const post = Astro.props;
const { Content } = await post.render();
---

<PostLayout {...post.data}>
    <h1>{post.data.title}</h1>
    <Content />
</PostLayout>
