---
import ProjectHeading from "../../components/ProjectHeading.astro";
import Base from "../../layouts/Base.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
    (a, b) => a.data.order - b.data.order,
);
---

<Base title="Projects">
    <main>
        <ul class="grid justify-items-center gap-y-5 pt-5 sm:pt-0 md:gap-y-8">
            {
                projects.map((p) => (
                    <li>
                        <ProjectHeading {...p} />
                    </li>
                ))
            }
        </ul>
    </main>
</Base>
