---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { type ComponentProps } from "astro/types";

type Props = ComponentProps<typeof Head>;
---

<html lang="es" class="scroll-smooth">
  <Head {...Astro.props} />
  <body class="flex min-h-dvh flex-col">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
